<div class="cocktail-show"></div>
<h1><%= @cocktail.name %></h1>





 <div>
 <% @cocktail.doses.each do |dose| %>
 <p><%= dose.id %></p>
 <p><%= dose.cocktail.name %></p>
 <p><%= dose.ingredient.name %></p>
 <p><%= dose.description %></p>
 <% end %>
</div>
<p><%= link_to 'go to the main page', cocktails_path %></p>
<p><%= link_to 'add', new_cocktail_dose_path(@cocktail)%></p>